langgraph
langgraph-cli[inmem]
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
tavily-python
wikipedia
python-dotenv
chromadb
pandas
langchain_ollama 
duckduckgo-search
ddgs
matplotlib
flask